@media screen and (max-width:1200px){
    .parallax3{
        height: 100vh;
    }
    .parallax3 video{
        width: 100%;
        height:100vh;
    }
    .parallax3 h2 em {
        font-size: 45px;
    } 
    .textofin img{
        width: 280px;
    }
    .textofin .img1{
        top:13vh;
        left:47vw;  
    }

    .textofin .img2{
        bottom: 20vh;
        right:20vw;
    }
}

/* PORTRAIT */
@media screen and (max-width:1050px) {
    .parallax-fin{
        height:100vh;
                         background-image: url('imagenes/yos.jpg');

        background-color: black;
        background-repeat:no-repeat;
        background-position:100% center;
        /*background-size:100vh;*/
    }
    .textofin img{
        display:none;
    }
/*    .textofin .img1{
        top:30vh;
        left:40vw;  
    }
    .textofin .img2{
        bottom: 30vh;
        right:20vw;
    }    */ 
}

@media screen and (max-width:900px){
    .parallax3{
        height: 70vh;
    }
    .parallax3 video{
        width: 100%;
        height:70vh;
    }
    .parallax3 h2 em {
        font-size: 35px;
    } 
 
}

@media screen and (max-width: 800px) {
  .parallax3 h2 em {
        font-size: 30px;
    } 
}
@media screen and (max-width: 600px) {
    .parallax3{
        height: 70vh;
    }
    .parallax3 video{
        width: 100%;
        height:70vh;
    }

   /* .parallax-fin{
        background-position:70% ;
    }
    .textofin img{
        width: 180px;
    }

    .textofin .img1{
        top:25vh;
        left:35vw;  
    }*/
}@media screen and (max-width: 530px) {
     .parallax-fin{
        height:45vh;
        background-color: black;
        background-repeat:no-repeat;
        background-position:70% bottom;
        background-size:70vh;
    }

   /*     .textofin .img1{
        top:25vh;
        left:35vw;  
    }*/
}
@media screen and (max-width: 450px) {
    .texto{
        width: 95%;
        font-size: 16px;
    }
    .parallax3{
        height: 50vh;
    }
    .parallax3 video{
        width: 100%;
        height:50vh;
    }
    .parallax3 h2 em {
        font-size: 25px;
    } 
    .textofin img{
        width: 180px;
    }
/*    .parallax-fin{
        height:100vh;
        background-color: black;
        background-repeat:no-repeat;
        background-position:75% center;
        background-size:100vh;
    }


    .textofin .img1{
        top:25vh;
        left:25vw;  
    }*/
}

@media screen and (max-width: 375px)and (orientation: portrait) {
    .parallax3{
        height: 40vh;
    }
    .parallax3 video{
        width: 100%;
        height:40vh;
    }
    .parallax3 h2 em {
        font-size: 20px;
    } 
     .parallax-fin{
        height:45vh;
        background-color: black;
        background-repeat:no-repeat;
        background-position:70% bottom;
        background-size:70vh;
    }
  /*  .parallax-fin{
        background-position:70% center;
    }
    .textofin img{
        width: 170px;
    }
    .textofin .img1{
        top:25vh;
        left:30vw;  
    }*/
}

@media screen and (max-width: 250px)and (orientation: portrait) {
    .parallax2 h2{
         font-size: 30px;
    }
     h2{
        font-size: 30px;
    }
    .texto{
        font-size: 13px;
    }
    .parallax3{
        height: 50vh;
    }
    .parallax3 video{
        width: 100%;
        height:50vh;
    }
    .parallax3 h2 em {
        font-size: 15px;
    } 
}
/*
@media screen and (orientation: portrait) and (max-width: 800px)   
 {
    .parallax-fin{
        background-position:80%;
    }
    .textofin img{
        width: 230px;
    }
    .textofin .img1{
        top:25vh;
        left:35vw;  
    }
    .textofin .img2{
        bottom: 30vh;
        right:20vw;
    }       
}*/
/* LANDSCAPE */
@media screen and (max-width:900px) and (orientation: landscape){
         .parallax-fin{
       background-position:70% 38%;
    }

}
@media only screen  
    and (orientation: landscape) and (max-width: 1100px){
  /*        .parallax-fin{
        background-position:70%;
    }  
        .textofin .img1{
        top:25vh;
        left:35vw;  
    }*/
}
@media only screen  
and (orientation: landscape) and (max-width: 500px) {
    .parallax-fin{
        width: 100%;
        height:100vh;
    }
    .textofin img {
        width: 200px;
    }
    .textofin .img1{
        top:10vh;
        left:47vw;  
    }
    .textofin .img2{
        bottom: 15vh;
        right:20vw;
    }  
    .parallax3{
        height: 10  0vh;
    }
    .parallax3 video{
        width: 100%;
        height:100vh;
    }
    .parallax3 h2 em {
        font-size: 25px;
    } 
}